<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application

        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>




<!--        <receiver android:name=".services.PhoneUnlockedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

      <!--  <service android:name=".services.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true">

         &lt;!&ndash;   <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>&ndash;&gt;

        </service>-->

       <!-- <receiver android:name=".Helper.MyStartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:configChanges="uiMode|orientation"
            android:name=".ReportActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:configChanges="uiMode|orientation"
            android:name=".subitem"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:configChanges="uiMode|orientation"
            android:name=".Activities.chartActivityDec"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MedicineReminderApp">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:configChanges="uiMode|orientation"
            android:name=".Activities.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode|orientation"
            android:name=".Activities.HomeActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>




        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:launchMode="singleTop"
            android:stopWithTask="false" />



        <receiver android:name=".MyBroadcastReceiver" /> <!-- <receiver android:name=".DismissReceiver" /> -->
        <activity android:name=".Activities.PendingActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="portrait"
            >


        </activity>


        <activity
            android:configChanges="uiMode|orientation"
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode|orientation"
            android:name=".Activities.MainActivity"

            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>




        <activity
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode|orientation"
            android:name=".Activities.EditRefillActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </application>

</manifest>